// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}

#masthead {
    height: 56px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#left-masthead {
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#right-masthead {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#logo {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: larger;
}

.hamburger {
    width: 40px;
    height: 40px;
    padding: 8px;
    margin: 0 16px 0 0;
    font-size: larger;
    color: rgb(101, 101, 101);
}

input {
    margin-left: 7px;
    padding: 10px;
    border: 1px solid rgb(213, 213, 213);
    color: rgb(116, 116, 116);
    border-radius: 5px;
}


.icon {
    font-size: large;
    color: rgb(87, 87, 87);
    padding: 0 15px 0 15px; 
    // top right bottom left
}

.icon:first-child {
    margin-left: 12px;
}

.logo {
    margin-right: 4px;
    color: red;
}

#content {
    display:flex;
    justify-content: center;
    margin-top: 100px;
}

form {
    display: flex;
    flex-direction: column;
    color: rgb(116, 116, 116);
}

#search-container {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 2px 0 0 2px;
    box-shadow: inset 0 1px 2px #eee;
    color: #111111;
    padding: 2px 6px;
    width: 100%;
    margin: 0 0 0 40px;
}

.search-input {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: inherit;
    // font-family: 'Noto Sans HK', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 4px;
    max-width: 100%;
    outline: none;
    text-align: inherit;
    width: 100%;
    padding: 1px 2px;
}

.center-masthead {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 1 728px;
    min-width: 0px;
}

button.search-btn {
    cursor: pointer;
    width: 65px;
    border: 1px solid #d3d3d3;
    background-color: #f8f8f8;
    border-radius: 0 2px 2px 0;
    margin: 0;
    padding: 2px 6px;
}

.search-icon {
    width: 24px;
    height: 24px;
    color: #828282;
}

::placeholder {
    color: #888888;
    opacity: 1;
}

button.user-icon-container {
    display: inline-block;
    border-radius: 50%;
    border: none;
    margin: 1px 6px;
    padding: 0;
    background-color: transparent
}

button.user-icon-container:hover {
    cursor: pointer;
    border: none;
}

img.user-icon {
    height: 32px;
    aspect-ratio: auto 32 / 32;
    width: 32px;
    border-radius: 50%;
}

button.signin {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1 auto;
    border: 1px solid #065fd4;
    border-radius: 2px;
    padding: 7px 11px;
    background-color: white;
    width: 110px;
}

#sign-in-text { text-decoration: none; }

.signin p {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    border: 0;
    margin-left: 8px;
    color: #065fd4;
}

.no-user-icon {
    font-size: 24px;
    color: #1061d6;
}

.logo-image {
    height: 21px;
}

button.form-submit {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(26,115,232);
    background-color:rgb(26,115,232);
    color:white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.form-alt-submit {
    margin-top: 20px;
    margin-right: 100px;
    padding-top: 10px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: rgb(26,115,232);
    text-decoration: none;
}

form > input {
    margin: 10px 0;
}

div.name > input {
    margin: 10px;
    width: 50%;
}
div.name > input:first-child {
    margin-left: 0px;
}
div.name > input:last-child {
    margin-right: 0px;
}

div.name {
    width: 100%;
    display: flex;
}

.form-btns {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 25px;
    padding: 20px;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    color: black;
    font-family: 'Roboto', Arial, sans-serif;
}

#blue { color: rgb(66,133,244) }
#red { color: #EA4335 }
#yellow { color: #FABC07 }
#green { color: hsl(135,51%,44%) }