// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#masthead {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

#left-masthead {
    width: 200px;
    display: flex;
    justify-content: space-around;
}

#right-masthead {
    width: 200px;
    display: flex;
    justify-content: space-around;
}