p {
    font-family: $roboto;
    font-size: 14px;
    color: $icon-gray;
}

a {
    font-family: $open-sans;
    font-size: 14px;
    color: $blue;
    text-decoration: underline;
}

a:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    outline: none;
}