.feed {
    margin-left: 92px;
    padding: 0;
    color: black;
    z-index: 6;
    font-weight: 500;
    font-family: $open-sans;
    text-transform: capitalize;
}

.feed-content .video-index {
    padding: 0 24px 0px 92px;
}