.feed {
    margin-left: 92px;
    padding: 0;
    color: black;
    z-index: 6;
    font-weight: 500;
    font-family: $open-sans;
    text-transform: capitalize;
}

.scoot-text {
    margin-left: 92px;
    padding: 0;
    font-family: $open-sans;
}

.feed-content .video-index {
    padding: 0 24px 0px 92px;
}

.sub-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    white-space: pre-line;
}

img.user-icon-biggest {
    height: 60px;
    aspect-ratio: auto 60 / 60;
    width: 60px;
    border-radius: 50%;
    background-color: #e0e0e0;
}

.sub-user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.user-index {
    padding: 4px 24px 0px 92px;
    margin-bottom: 100px;
    display: flex;
    grid-gap: 25px;
}

