.controls {
    position: relative;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    margin-top: -49px;
    width: 100%;
    font-size: 20px;
    // height: 100%;
    // overflow: hidden;
    // word-wrap: normal;
    // -moz-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    // -webkit-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    // transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8));

  button, a {
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    opacity: 0.9;
    transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
  }

  button:hover, a:hover {
    opacity: 1;
  }

  .time-display {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    white-space: nowrap;
    line-height: 39px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #ddd;
    flex: 6;
  }

  .svg-fill {
    fill: white;
    display: flex;
  }

  .player-btn {
    width: 40px;
    height: 100%;
  }

  svg {
    margin: 0;
    padding: 0;
    border: 0;
  }

  .play {
    margin-left: 10px;
  }

  .fscn {
    margin-right: 10px;
  }

  .control-btn[title]:hover::after {
  content: attr(title);
  position: absolute;
  top: -50px;
  left: 0;
  color: rgb(235, 235, 235);
  background-color: rgb(30,28,20);
  padding: 5px 8px;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-shadow: none;
  font-weight: 100;
  border-radius: 2px;
}
}

video {
  width: 100%;
  height: auto;
}

.controls:hover {
  opacity: 1;
}

.controls:active {
  opacity: 1;
}

.time-display-bar {
  background-color: rgb(255, 0, 22);
  height: 3px;
  z-index: 3;
  
}

.time-display-bar-container {
  display: flex;
  // padding: 12px;
  z-index: 3;
  position: relative;
  bottom: 50px;
}

.time-display-bar-container::before {
  content: '';
  display: block;
  width: 12px;
}