.video-index {
    padding: 24px 24px 0px 92px;
    margin-bottom: 100px;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat( auto-fit, minmax(250px, auto) );
}

.video-index-item {
    flex-grow: 1;
    max-width: 520px;
    cursor: pointer;

    .vii-img {
        margin-bottom: 12px;
        background-color: #e0e0e0;
        object-fit: cover;
        object-position: left top;
        width: 100%;
    }

    .vii-display {
    position: relative;
    
    display: flex;
    flex-direction: row;
    }

    .vii-info {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 0 0 12px;
    text-align: left;

    h3 {
        font-weight: 500;
        color: black;
        font-family: $roboto;
        margin: 3px 0 5px;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }

    p {
        margin: 0;
        color: #606060;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    p:first-of-type {
        text-transform: capitalize;
    }
}
}

.vii-no-user-icon {
    color: $blue;
    font-size: 40px;
}

.vii-no-user-icon-biggest {
    color: $blue;
    font-size: 60px;
}

.kill-margin {
    margin-bottom: 40px;
}

#trash {
    svg {
        fill: $icon-gray;
        margin: 20px;
        width: 36px;
        height: 36px;
    }
}

#trash-grow {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}