#video-rows {
    margin: 24px 24px 24px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.video-rows-item {
    height: 202px;
    max-width: 1096px;
    display: flex;
    cursor: pointer;
}

@media (max-width: 1000px) {
    #video-rows {
        display: none;
    }
}

.video-rows-thumbnail {
    width: 360px;
    height: 202px;
    object-fit: cover;
    object-position: center top;
    background-color: #e0e0e0;

    img {
        width: 360px;
        height: 202px;
    }
}

.video-rows-details {
    margin-left: 16px;
    font-size: 12px;
    color: #606060;


    p {
        margin-bottom: 3px;
    }

    p:first-of-type {
        text-transform: capitalize;
    }

    p:last-of-type {
        --lh: 1.4rem;
    line-height: var(--lh);
    --max-lines: 3;
    position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    padding-right: 1rem;
    white-space: break-spaces;
    }

    p:last-of-type::before {
        position: absolute;
        content: "...";
        inset-block-end: 0; /* "bottom" */
        inset-inline-end: 0; /* "right" */
    }

    p:last-of-type::after {
        content: "";
        position: absolute;
        inset-inline-end: 0; /* "right" */
        width: 1rem;
        height: 1rem;
        background: white;
    }

    h3 {
        font-weight: bold;
        color: #030303;
        font-family: $roboto;
        font-size: 18px;
        font-weight: normal;
        margin: 0 0 4px 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-line-clamp: 2;
    }
}

#left-nav-margin {
    margin-left: 92px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.channel-info {
    display: flex;
    align-items: center;
    padding: 12px 0;

    p {
        margin-left:16px;
    }
}