.video-index {
    padding: 24px 24px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12px;
    position: fixed;
    top: 32%;
    left: 92px;
    overflow: scroll;
    height: 100%;
}

.video-index-item {
    width: 300px;
    min-height: 0;
    flex-grow: 1; //100%
    margin: 9px;
    display: block;
    cursor: pointer;

    .vii-img {
        margin-bottom: 12px;
    }

    .vii-display {
    position: relative;
    
    display: flex;
    flex-direction: row;
    }

    .vii-info {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 0 0 12px;
    text-align: left;

    h3 {
        font-weight: 500;
        color: black;
        font-family: $roboto;
        margin: 0 0 3px;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }

    p {
        margin: 0;
        color: #606060;
        text-transform: capitalize;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
}

.vii-no-user-icon {
    color: $blue;
    font-size: 40px;
}